* {
  font-family: 'Fira Code', monospace;
  font-optical-sizing: auto;
}

body {
  margin: 0;
  background-image: url('img/default-bgi.jpg');
  background-size: cover;
  background-color: #000;
}

::-webkit-scrollbar {
  width: 0px;
}

.desktop {
  height: 100vh;
}

.cd-joe-line {
  color: white;
}

.desktop-icons {
  display: flex;
  flex-direction: column;
  width: 55px;
  height: auto;
  margin: 10px;
  gap: 1rem;
}

.title {
  background-color: #ffffff;
  text-align: left;
  display: flex;
  justify-content: start;
  margin-left: 1.75rem;
  font-family: 'Segoe UI', Arial, sans-serif;
}

.title img {
  width: 23px;
  margin-right: 5px;
}

#terminal {
  width: 70rem;
  height: auto;
  min-height: 40rem;
  margin: 50px auto;
  border: 2px solid #fff;
  border-radius: 5px;
  overflow: hidden;
  background-color: #012456;
  color: #fff;
}

.terminal-body {
  padding: 2%;
}

.header {
  background-color: #ffffff;
  padding: 1px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: black;
}

.second-prompt {
  margin-top: -24px;
}

.min-button,
.max-button,
.close-button-x {
  cursor: pointer;
  margin-right: 30px;
}

.max-button {
  font-size: 30px;
  margin-bottom: 5px;
}

.close-button-x {
  font-size: 20px;
}

.min-button {
  margin-top: 4.5px;
  font-size: 25px;
}

.button {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin-right: 5px;
  cursor: pointer;
}

.title {
  flex-grow: 1;
  text-align: center;
}

#output {
  margin: 0;
}

.dir-menu-top-spacer-1 {
  margin-right: 150px;
}

.dir-menu-top-spacer-2 {
  margin-right: 100px;
}

.dir-menu-breaks-spacer-3 {
  margin-right: 150px;
}

.dir-menu-breaks-spacer-4 {
  margin-right: 100px;
}

.dir-menu-content-spacer-5 {
  margin-right: 60px;
}

.dir-menu-content-spacer-6 {
  margin-right: 20px;
}

.dir-menu-content-spacer-7 {
  margin-right: 180px;
}

.dir-menu-content-spacer-8 {
  margin-right: 60px;
}

.dir-menu-content-spacer-9 {
  margin-right: 29px;
}

.dir-menu-content-spacer-10 {
  margin-right: 178px;
}

.dir-menu-content-spacer-11 {
  margin-right: 60px;
}

.dir-menu-content-spacer-12 {
  margin-right: 20px;
}

.dir-menu-content-spacer-13 {
  margin-right: 180px;
}

.dir-menu-content-resume-spacer-14 {
  margin-right: 60px;
}

.dir-menu-content-resume-spacer-15 {
  margin-right: 20px;
}

.dir-menu-content-resume-spacer-16 {
  margin-right: 180px;
}

.dir-menu-content-resume-spacer-17 {
  margin-right: 60px;
}

.dir-menu-content-resume-spacer-18 {
  margin-right: 20px;
}

.dir-menu-content-resume-spacer-19 {
  margin-right: 169px;
}

.prompt-for-text {
  margin-top: 2.5rem;
}

.prompt-for-text input {
  background-color: transparent;
  border: none;
  color: #fff;
  outline: none;
  width: 500px;
  margin-left: 0rem;
  font-size: 15px;
}

.directory-line {
  text-indent: 3rem;
  padding: 2.5rem;
}

a {
  color: inherit;
  text-decoration: none;
  position: relative;
  cursor: pointer;
}

a::before {
  content: '';
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;
  background-image: linear-gradient(to right, #fff 70%, transparent 5%);
  background-size: 6px 2px;
  transition: width 0.3s ease;
}

a:hover::before {
  width: 100%;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li {
  margin-bottom: 5px;
}

.windows-toolbar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding-top: 6px;
  background-color: #c3c3c3;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 9999;
}

.start-button img {
  width: 100px;
  height: auto;
}

.time-display {
  font-family: 'MS Sans Serif', Arial, sans-serif;
  font-size: 18px;
  color: #000;
  text-shadow: 1px 1px 1px #fff;
  padding: 10px;
  background-color: #c0c0c0;
  border: 1px solid #808080;
  box-shadow: rgba(50, 50, 93, 0.18) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.179) 0px 18px 36px -18px inset;
  margin-top: -6px;
  margin-right: 5px;
}

.about-me-img {
  width: 100%;
  max-width: 250px;
  height: auto;
  border-radius: 50%;
}

.intro {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  color: #000000;
}

.about-title {
  align-self: center;
  text-align: center;
  color: #000000;
  font-size: 25px;
}

.about-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 40vh;
  text-align: center;
}

.desc {
  color: #000000;
  margin-top: 2rem;
}

.panel {
  position: fixed;
  background-color: #e2dcd1;
  width: 32rem;
  height: 80vh;
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,
    rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
    rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
  border-top-right-radius: 1rem;
  overflow: auto;
  padding: 10px;
  transition: bottom 0.5s ease, left 0.5s ease, max-height 0.5s ease;
  z-index: 999;
  margin-bottom: 50px;
  animation: open-animation 0.5s forwards;
}

.close-button {
  position: absolute;
  top: 0px;
  right: 0px;
  cursor: pointer;
  font-size: 45px;
  z-index: 1000;
  border: none;
  color: #000000;
  background-color: #e2dcd1;
}

.project-title,
.contact-title {
  align-self: center;
  text-align: center;
  color: #000000;
  font-size: 25px;
}

.project-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 70vh;
  gap: 100px;
  text-align: center;
}

.project-1,
.project-2,
.project-3 {
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  transition: box-shadow 0.3s ease;
}

.project-1:hover,
.project-2:hover,
.project-3:hover {
  box-shadow: rgba(60, 64, 67, 0.6) 0px 5px 15px 0px,
    rgba(60, 64, 67, 0.3) 0px 10px 30px 5px;
}

.contact-container {
  margin-top: 12rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  color: #000000;
  margin-left: 30%;
  margin-right: 30%;
}

.contact-container h2 {
  color: black;
}

.panel.closing {
  animation: close-animation 0.5s forwards;
}

@keyframes open-animation {
  from {
    bottom: -100%;
    left: 0;
  }

  to {
    bottom: 0;
    left: 0;
  }
}

@keyframes close-animation {
  from {
    bottom: 0;
    left: 0;
    opacity: 1;
  }

  to {
    left: 0;
    opacity: 0;
    transform: translateY(100%);
  }
}

.panel.open {
  max-height: 80vh;
  bottom: 0;
}

input[type='file'] {
  display: none;
}

.fileLabel {
  color: inherit;
  text-decoration: none;
  position: relative;
  cursor: pointer;
}

.fileLabel::before {
  content: '';
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;
  background-image: linear-gradient(to right, #fff 70%, transparent 5%);
  background-size: 6px 2px;
  transition: width 0.3s ease;
}

.fileLabel:hover::before {
  width: 100%;
}

@media (max-width: 1600px) {
  * {
    font-size: 15px;
  }

  #terminal {
    width: 71rem;
    height: auto;
    min-height: 40rem;
  }

  .panel {
    width: 25rem;
    height: 80vh;
  }

  .about-title {
    font-size: 22px;
  }

  .about-me-img {
    margin-top: 3rem;
  }

  .desc {
    margin-top: 3rem;
  }

  .prompt-for-text input {
    font-size: 15px;
  }
}

@media (max-width: 1078px) {
  * {
    font-size: 14px;
  }

  .panel {
    width: 28rem;
    height: 80vh;
  }

  #terminal {
    width: 60rem;
    height: auto;
    min-height: 60vh;
  }

  .desktop-icons-recycle {
    margin-top: 53px;
  }

  .prompt-for-text {
    text-wrap: nowrap;
  }
}

@media (max-width: 500px) {
  * {
    font-size: 13px;
    max-width: 100%;
    margin: 0 auto;
    overflow-x: hidden;
  }

  #terminal {
    width: 99%;
    height: auto;
    min-height: 70vh;
    overflow: visible;
  }

  .dir-menu-content,
  .dir-menu-content-resume,
  #about-link,
  #projects-link,
  #contact-link,
  .fileLabel {
    font-size: 10px;
  }

  .dir-menu-top-spacer-1 {
    margin-right: 50px;
  }

  .dir-menu-top-spacer-2 {
    margin-right: 30px;
  }

  .dir-menu-breaks-spacer-3 {
    margin-right: 50px;
  }

  .dir-menu-breaks-spacer-4 {
    margin-right: 30px;
  }

  .dir-menu-content-spacer-5 {
    margin-right: 30px;
  }

  .dir-menu-content-spacer-6 {
    margin-right: 3px;
  }

  .dir-menu-content-spacer-7 {
    margin-right: 40px;
  }

  .dir-menu-content-spacer-8 {
    margin-right: 30px;
  }

  .dir-menu-content-spacer-9 {
    margin-right: 3px;
  }

  .dir-menu-content-spacer-10 {
    margin-right: 44px;
  }

  .dir-menu-content-spacer-11 {
    margin-right: 30px;
  }

  .dir-menu-content-spacer-12 {
    margin-right: 3px;
  }

  .dir-menu-content-spacer-13 {
    margin-right: 38px;
  }

  .dir-menu-content-resume-spacer-14 {
    margin-right: 30px;
  }

  .dir-menu-content-resume-spacer-15 {
    margin-right: 3px;
  }

  .dir-menu-content-resume-spacer-16 {
    margin-right: 38px;
  }

  .dir-menu-content-resume-spacer-17 {
    margin-right: 30px;
  }

  .dir-menu-content-resume-spacer-18 {
    margin-right: 3px;
  }

  .dir-menu-content-resume-spacer-19 {
    margin-right: 31px;
  }

  .desktop-icons {
    display: none;
  }

  .second-prompt {
    margin-top: -18px;
  }

  .directory-line {
    text-indent: 1rem;
    padding: 2rem;
  }

  .prompt-for-text {
    margin-top: 2.5rem;
    font-size: 10px;
    text-wrap: nowrap;
  }

  .prompt-for-text input {
    font-size: 10px;
  }

  .windows-toolbar {
    display: none;
  }

  .title {
    margin-right: 100px;
  }

  .min-button,
  .max-button,
  .close-button-x {
    margin-right: 15px;
  }

  .max-button {
    font-size: 15px;
    margin-bottom: 5px;
  }

  .close-button-x {
    font-size: 10px;
  }

  .min-button {
    margin-top: 4.5px;
    font-size: 11px;
  }

  .title img {
    width: 20px;
    margin-left: 0px;
    height: 20px;
  }

  .panel {
    width: 25rem;
    height: 70vh;
    margin-bottom: 0px;
  }

  .project-title {
    font-size: 19px;
  }

  .about-title {
    font-size: 15px;
  }
}
