body {
  background-color: #000;
  background-repeat: no-repeat, repeat;
  background-size: cover;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: 'Fira Code', monospace;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 19px;
  background-image: url('img/desktop.jpg');
}

.terminal-body {
  padding: 0.6rem;
  max-height: calc(100vh - 400px);
  overflow-y: auto;
}

.title {
  background-color: #ffffff;
  text-align: left;
  display: flex;
  justify-content: start;
  margin-left: 1.75rem;
  font-family: 'Segoe UI', Arial, sans-serif;
}

.title img {
  width: 23px;
  margin-right: 5px;
}

#terminal {
  width: 77.5rem;
  height: 50rem;
  margin: 50px auto;
  border: 2px solid #fff;
  border-radius: 5px;
  overflow: hidden;
  background-color: #012456;
  color: #fff;
}

.header {
  background-color: #ffffff;
  padding: 1px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: black;
}

.min-button,
.max-button,
.close-button {
  cursor: pointer;
  margin-right: 30px;
}

.max-button {
  font-size: 30px;
  margin-bottom: 5px;
}

.close-button {
  font-size: 20px;
}

.min-button {
  margin-top: 4.5px;
  font-size: 25px;
}

.button {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin-right: 5px;
  cursor: pointer;
}

.title {
  flex-grow: 1;
  text-align: center;
}

.body {
  padding: 10px;
}

#output {
  margin: 0;
}

.prompt-for-text {
  margin-top: 2.5rem;
}

.prompt-for-text input {
  background-color: transparent;
  border: none;
  color: #fff;
  outline: none;
  width: 750px;
  margin-left: 0.5rem;
  font-size: 19px;
  font-family: 'Fira Code', monospace;
}

.directory-line {
  text-indent: 3rem;
  padding: 2.5rem;
}

a {
  color: inherit;
  text-decoration: none;
  position: relative;
}

a::before {
  content: '';
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;
  background-image: linear-gradient(to right, #fff 70%, transparent 5%);
  background-size: 6px 2px;
  transition: width 0.3s ease;
}

a:hover::before {
  width: 100%;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li {
  margin-bottom: 5px;
}

.windows-toolbar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 8px;
  background-color: #10254d;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.start-button img {
  width: 100px;
  height: auto;
}

.taskbar-icons img {
  width: 30px;
  height: auto;
  margin-right: 10px;
}
